.container-fluid {
    max-width: auto;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 98rem;
    width: 100%;
    gap: 2.4rem;
}


.content {
    margin: 3.2rem;    
}